body {
    cursor: auto;
    background-color: #f2f2f2;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    font-family: 'Roboto Condensed';
}

section {
    display: none;
}

.clear {
    clear: both;
}

.container {
    padding-top: 2.3rem;
    position: relative;
    width: 100%;
    min-height: 100%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.tariff {
    padding-right: .625rem;
    max-height: 300px;
    width: 32.333333%;
    padding-bottom: .625rem;
}

.tariff-one{
    padding: .625rem;
    width: 100%;
}

.tariff-box {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, .2);
    padding: 0;
}

.tariff-block {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, .2);
}

.tariff-kinds{
    cursor: pointer;
}

.tariff-box .tariff-container, .tariff-block .tariff-container {
    padding-top: 0.625rem;
}

.tariff-box .head, .tariff-block .head {
    margin-left: 1.25rem;
    border-bottom: .0625rem solid #abb0b2;
    position: relative;
}

.tariff-box .head .head-title, .tariff-block .head .head-title {
    color: #6fb316;
    font-size: 1.375rem;
    text-decoration: none;
    font-weight: 400;
    margin: 0;
    height: 2.35rem;
}

.tariff-box .body, .tariff-block .body {
    margin-left: 1.25rem;
}

.tariff-box .body .speed {
    margin-top: .5rem;
    margin-left: -1.25rem;
    max-width: 7.5rem;
}

.tariff-box .body .speed .speed-content {
    padding: .3125rem 1.25rem;
    color: #fff;
    display: flex;
}

.tariff-box .body .speed .speed-content .speed-value {
    font-size: 1.625rem;
    line-height: 1.625rem;
    margin-right: .25rem;
}

.tariff-box .body .speed-earth {
    background-color: #70603e;
}

.tariff-box .body .speed-water {
    background-color: #0075d9;
}

.tariff-box .body .speed-fire {
    background-color: #EE4700;
}

.tariff-box .body .price, .tariff-block .body .price {
    margin-top: .5rem;
}

.tariff-box .body .price .price-content, .tariff-block .body .price .price-content  {
    font-weight: 600;
    font-size: 1.15rem;
    line-height: 1.15rem;
}

.tariff-box .body .free-options, .tariff-block .body .free-options {
    margin-top: .5rem;
    margin-bottom: .85rem;
    line-height: 1.18;
    min-height: 3.35rem;
}

section#tariff_types .tariff-box .body .free-options{
    white-space: pre;
}

.tariff-box .body .free-options-types{
    margin-top: .5rem;
    margin-bottom: .85rem;
    line-height: 1.18;
    min-height: 2.25rem;
}

.tariff-one .body .free-options .faded{
    padding-top: .85rem;
    color:#ccc;
}

.tariff-box .has-gotobtn{
    float:left;
}

.tariff-box-footer {
    margin-left: 1.25rem;
    border-top: .0625rem solid #ccc;
}

.tariff-box-footer .bottom {
    position: relative;
    padding: .9375rem 0;
}

.tariff-box .type-block{
    display: flex;
}

.tariff-box .type-block .body{
    flex-grow: 2;
}

.tariff-box .type-block .go-to-button{
    min-width: 3.25rem;
    font-size: 1.35rem;
    color:#ccc;
    cursor: pointer;
    position: relative;
}

.tariff-name-block{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, .2);
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.tariff-box .type-block .go-to-button .arrow-btn{
    left: 50%;
    margin-right: -50%;
}


.tariff-name-block .back-button {
    min-width: 3.25rem;
    position: relative;
    cursor: pointer;
    font-size: 1.85rem;
    color: #6fb316;
}

.tariff-box .type-block .go-to-button .arrow-btn, .tariff-name-block .back-button .arrow-btn{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.tariff-name-block .tariff-name{
    color: #6fb316;
    font-size: 1.375rem;
    text-decoration: none;
    font-weight: 400;
    height: 2.35rem;
    padding: .65rem 0;
    margin: 0 auto;
}

 section#tariff_info .tariff-name-block .tariff-name{
     color: #000;
 }

.tariff-name-block .back-button .arrow-btn{
    left: 25%;
    margin-right: -25%;
}

.btn-block{
    margin: .725rem 1.25rem .725rem 0;
}

.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-color{
    padding: 0.725rem 0;
    width: 100%;
    color:#fff;
    background-color:#6fb316;
    border-color: #6fb316;
    border-radius: 0;
}

.btn-color:hover{
    cursor: pointer;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .tariff {
        padding-right: 1.725rem;
        max-height: 300px;
        width: 45%;
        padding-bottom: .625rem;
    }
}

@media only screen and (max-width: 639px) {
    .tariff {
        padding-right: .625rem;
        max-height: 300px;
        width: 100%;
        padding-bottom: .625rem;
    }
}